* {
    padding:0; 
    margin: 0;
    box-sizing: border-box;
    }
   
.text {
    text-align: center;

    }

h1 {
    margin-bottom: 1em;
    color: #E42567;
    }

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.container {
    margin-inline: auto;
    max-width: 1000px;}

    .data .info {
    margin-inline: -1rem;

}








